:root {
    --text-color: #222;
    --primary-color: #FFC53D;
    --secondary-color: #FF9A3D;
    --background-1st-color: #fff;
    --background-2nd-color: #FAFAFF;
    --gradient: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
}

body {
    font-size: 14px;
    font-family: 'Noto Sans TC', 'Open Sans', sans-serif;
    background-color: var(--background-1st-color);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    margin: 0;
}

a[href^=mailto] {
    text-decoration: underline;
}

.button {
    background: var(--gradient);
    border: 2px solid var(--background-1st-color);
    color: var(--background-1st-color);
    border-radius: 15px;
    padding: .5rem 1.5rem;
    margin: .5rem;
}

.button:active, .button:hover, .button:focus {
    background: var(--background-1st-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
}

.content-section {
    padding-top: 3rem;
    min-height: 40vh;
}

.container {
    /* background-color: #ccc; */
    margin: .5rem auto;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    h2 {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

/* ---------------------------------------------navbar */

.navbar-custom {
    background-color: var(--background-1st-color);
    margin: auto;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:focus .nav-link {
    color: var(--secondary-color);
}

.nav-item:focus {
    color: var(--secondary-color);
}

@media (min-width: 1024px) {
    .navbar-custom {
        max-width: 1200px;
        border-radius: 0 0 15px 15px;
    }
}

/* ---------------------------------------------home section */

.home-section {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    text-align: center;
}

.home-section__top {
    min-height: 60vh;
    background-image: url(./images/home_bckgcover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 7rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.home-section__header {
    color: var(--primary-color);
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.home-section__desc {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.home-section__icons {
    margin: .5rem auto;
    display: flex;
}

.home-section__icon {
    margin: 0 .3rem;
    width: 1.5rem;
}

.home-section__icon:hover, .home-section__icon:active {
    filter: brightness(0.9);
}

.home-section__buttons {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

@media (min-width: 768px) {
    .home-section__header {
        font-size: 5.5rem;
    }

    .home-section__desc {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .home-section__header {
        font-size: 8rem;
    }

    .home-section__desc {
        font-size: 3rem;
    }

    .home-section__icon {
        margin: 0 .5rem;
        width: 2rem;
    }
}

/* ---------------------------------------------about section */

.about-section {
    position: relative;
}

.about-section__content {
    background-color: var(--background-1st-color);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    padding: 1rem 0;
}

.about-section__picture {
    width: 100px;
    border-radius: 50%;
    padding: 0;
    /* margin: .7rem auto; */
}

.about-section__personaldata {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: .5rem auto;
}

.about-section__datalist {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem 0;
}

.about-section__data {
    color: var(--primary-color);
}

.about-section__desc {
    margin: auto;
}

@media (min-width: 768px) {
    .about-section::before {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: var(--background-2nd-color);
        width: 70vw;
        height: 100%;
    }
}

/* ---------------------------------------------skills section */

.skills-section {
    position: relative;
}

.skills-section__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: var(--background-1st-color);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    padding: 1rem 0;
}

.skills-section__item {
    text-align: center;
    width: 190px;
    margin: .5rem;
}

.skills-section__img {
    margin: 1rem;
}

.skills-section__subheader {
    color: var(--primary-color);
    font-size: 1.4rem;
}

@media (min-width: 768px) {

    .skills-section__header {
        margin-left: 30%;
    }

    .skills-section::before {
        content: '';
        position: absolute;
        z-index: -1;
        right: 0;
        background-color: var(--background-2nd-color);
        width: 70vw;
        height: 100%;
    }
}

/* ---------------------------------------------portfolio section */

.portfolio-section__content {
    height: 90vh;
    color: #fff;
}

.portfolio-section__item {
    padding: .5rem;
}

.portfolio-section__item:nth-of-type(1) {
    background-image: 
        linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%),
        url(./images/portfolio_pic_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-section__item:nth-of-type(2) {
    background-image: url(./images/portfolio_pic_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-section__item:nth-of-type(3) {
    background-image: url(./images/portfolio_pic_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-section__item:nth-of-type(4) {
    background-image: url(./images/portfolio_pic_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-section__item:nth-of-type(5) {
    background-image: 
        linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%),
        url(./images/portfolio_pic_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------------------------------------------contact section */

.contact-section__desc {
    background-color: var(--secondary-color);
    color: #fff;
    padding: .5rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.contact-section__desc::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--secondary-color);
    right: 20px;
    bottom: -20px;
}

@media (min-width: 768px) {
    .contact-section__desc::after {
        transform: rotate(-90deg);
        right: -30px;
        top: 30px;
    }
}

.form-control {
    margin: .5rem auto;
}

textarea {
    resize: none;
}

textarea::placeholder {
    transform: translateY(20px);
}


/* ---------------------------------------------footer */
footer {
    margin: 5rem auto 3rem;
    text-align: center;
    color: #A0A0A0;
    font-size: .7rem;
}